body{
background-image: url(stefan-cosma-GVlcXhQejA8-unsplash.jpg);
background-position: center;
background-size: cover;
font-size: x-large;



}
h1{
    color: rgb(255, 187, 127);
}

legend,label{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-stretch: expanded;
    
}

h1{
    text-decoration:underline
}

legend{
    color:rgb(236, 141, 106)
}